.section1 {
  display: flex;
  margin: 60px;
  img {
    width: 600px;
  }
}
.header1 {
  margin-left: 30px;
  margin-top: 100px;
}
.section2 {
  display: flex;
  margin: 60px;
  img {
    width: 600px;
    height: 338px;
  }
}
.header2 {
  margin-right: 30px;
  margin-top: 100px;
}
.section3 {
  display: flex;
  margin: 60px;
  img {
    width: 600px;
    height: 338px;
  }
}
.header3 {
  margin-left: 30px;
  margin-top: 100px;
}
h2:hover {
  color: gold;
}

h2 {
  cursor: pointer;
}
.section4 {
  display: flex;
  margin: 60px;
  img { 
    width: 600px;
    height: 338px;
  }
}
.header4 {
  margin-right: 30px;
  margin-top: 100px;
}
.section5 {
  display: flex;
  margin: 60px;
  img {
    width: 600px;
    height: 338px;
  }
}
.header5 {
  margin-left: 30px;
  margin-top: 100px;
}
